
# API settings
API_NAME="Spam Classifier"

# Classifier parameters
MODEL_VERSION="v1"
MODEL_DIRECTORY="training/trained_model_v1"

# the line below should not be changed
CQLENG_ALLOW_SCHEMA_MANAGEMENT="1"

# "1" to replace the actual trained ML classifier with a dummy mockup
MOCK_MODEL_CLASS="0"
